<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="style.css">
<title>Registro - SincCall</title>

<form action="/register" method="POST">
    <section class="hero is-fullheight back"> 
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <img class="img__center" src="https://trello-attachments.s3.amazonaws.com/5f63127424c94073e24ccd7c/400x131/f90fd03d26562ac96bf8f483bb7dab97/200x_2020.1.png" alt="">
                <form action="" class="box">
                  <% if(typeof errors != 'undefined') { %>
                    <% errors.forEach(function(error){%>
                  <div class="notification is-danger" role="alert">              
                        <%= error.msg %>    
                        <%= errors = undefined %>    
                    <button id="btn" class="delete" onclick="this.parentElement.style.display='none';buttonPrevent(event)"></button>
                  </div>   
                    <% }); %>
                  <% } %> 
                  <div class="field">
                    <label for="" class="label has-text-white">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" placeholder="math@email.com" class="input" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="label has-text-white">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" name="password">
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <br>
                    <button class="button is-fullwidth is-rounded is-warning" type="submit">Registrar</button>
                    <br>
                    <a href="/login" <button class="button is-fullwidth is-rounded is-link is-outlined"></button>Já possui uma conta?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
</form>

<script>
  function buttonPrevent(event){
    event.preventDefault()
  }
</script>